body {
    margin: 0;
   background-color: #ff0000;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #090909;
    color: #ff0000;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    text-decoration: none;
    color: #000000e5;
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

a {
    color: hsl(0, 100%, 96%);
    text-decoration: none;
}
.tamanho{
    width: 20%;
}